body {
  margin: 0;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}

#title {
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 100;

  h1 {
    font-size: 2.6em;
  }

  & > div {
    position: absolute;
    opacity: 1;
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    height: 350px;
    width: 50%;
    margin: 0 25% 0 25%;
    border: 0px solid white;
    text-align: center;
    top: calc(50vh - 175px);
  }

  p {
    text-align: center;
    color: white;
    font-family: sans-serif;
  }

}

#loading_bar {
  width: 90%;
  height: 20px;
  margin-left: 5%;
  border: 1px solid white;
}

#progress {
  background: white;
  height: 100%;
  width: 0%;
}

.bar-container {
  position: fixed;
  bottom: 0;
  width: 100px;
  transform: rotate(180deg);
}

.bar {
  background: rgba( 100, 255, 255, 0.5 );
  float: right;
}

#vr {
  position: absolute;
  background: black;
  color: white;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#vr_inner {
  position: absolute;
  text-align: center;
  width: 100vw;
  top: calc( 50vh - 110px );
  height: 220px;

  div {
    width: 160px;
    height: 80px;
    background: white;
    color: black;
    font-size: 4em;
    display: inline-block;
    transition: all 0.4s ease;
    margin: 10px;
  }

  div:hover {
    background: black;
    color: white;
  }

}

.instruments {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100px;
}

.acceleration-container {
  width: 20px;
  border: 1px solid green;
  height: 100px;
}

#acceleration {
  position: absolute;
  bottom: 50px;
  width: 100%;
  background: green;
  vertical-align: bottom;
}

#crosshairs {
  position: fixed;
  width: 100%;
  top: calc(50vh - 2px);

  div {
    height: 2px;
    width: 40px;
    background: rgba( 255, 255, 255, 0.7);

  }

  .vertical {
    transform: rotate(90deg);
    margin-top: -2px;
  }

}

.error {
  color: #f44242;
  background: black;
}

.login-err {
  color: white;
  background: #2b4b56;
  width: 500px;
  box-shadow: 3px 3px 5px black;
}

.login {
  color: white;
  background: url('/imgs/gradient_red_blue.jpg');
  background-size: 100%;

  h1 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 500px;
    border-bottom: 1px solid white;
  }

  #center {
    position: absolute;
    width: 100%;
    bottom: calc(50vh - 120px);
    height: 300px;
  }

}

.login-form {

  span {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  }

  input {
    margin-bottom: 30px;
    color: grey;
    width: 300px;
  }

  button {
    background-color: white;
    text-decoration: none;
    border: 1px solid grey;
    color: black;
    width: 300px;
    font: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin-top: 20px;
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
  }

}

.register_body {
  background: url( '/imgs/space4.jpg' );
}

.register {
  box-shadow: 10px 10px 20px black;
  height: 650px;
  position: absolute;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
  top: calc( 50vh - 325px );
  padding: 0;
  color: white;

  h1 {

    margin: 0 0 50px 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid grey;
    background: rgba( 255, 255, 255, 0.4 );
    color: white;

  }

  input {

    width: 400px;
    margin: 0 0 30px 0;
    border-radius: 0;
    border: 0;
    box-shadow: 0;
    color: black;

  }

  input[type='color'] {
    height: 50px;
  }

  textarea {

    width: 300px;
    color: black;

  }

  button {

    width: 500px;
    border-radius: 0;
    box-shadow: 0;

  }

  #center {
    position: absolute;
    width: 100%;
    bottom: calc(50vh - 120px);
    height: 300px;

   a {
      color: blue;
      background: rgba( 0, 0, 0, 0 );
    }

    h1 {
      margin-bottom: 20px;
      padding-bottom: 10px;
      width: 500px;
      border-bottom: 1px solid white;
    }

  }


}

#controlMenu {
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  margin: 15px;
  width: 50px;
  height: 50px;

  .guns, .music, .settings, .main {
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    margin: 15px;
    width: 50px;
    height: 50px;
    z-index: -1;
  }

  .guns, .music, .settings {
    background: white;
    transition: all 0.1s ease-in;
  }

  .main {
    background: #b200ff;
    transition: background 0.1s ease-in-out;
    z-index: 1;
  }

  &:hover {

    .main {
      background: #307fff;
    }

    .guns {
      bottom: 80px;
    }

    .music {
      bottom: 57px;
      right: 57px;
    }

    .settings {
      right: 80px;
    }

  }

}

.menuBar {
  background: white;
  width: 20px;
  border-radius: 3px;
  height: 3px;
  margin-top: 10px;
  z-index: 2;
}

#begin {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba( 0, 0, 0, 0.2 );
  color: white;

  div {
    width: 100vw;
  }

}
