doctype html
html
  head
    title Fractals ftw
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/three.min.js')
    script(src='/js/Fractals.js')
    script(src='/js/TrackballControls.js')
    script(src='/js/stats.min.js')
    script(src='/js/SkyShader.js')
    script(src='js/Tween.js')
  body
    div#title(align='center')
      div
        h1 Tino Fileccia
        p
          b Breaking the traditional.
        br
        p
          i Song: Drake - Fake Love (Electric Mantis remix)
        br
        p#loading Loading...
        div#loading_bar
          div#progress
    script(src='js/fireworks.js')
