doctype html
html
  head
    title Fractals ftw
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/three.min.js')
    script(src='/js/Fractals.js')
    script(src='/js/SpaceControls.js')
    script(src='/js/TrackballControls.js')
    script(src='https://threejs.org/examples/js/controls/PointerLockControls.js')
    script(src='/js/stats.min.js')
    script(src='js/Tween.js')
    script(src='/socket.io/socket.io.js')
  body
    div#title(align='center')
      div
        h1 Enjoy the visuals #{user.Username}

        br
        p
          i Song: Drake - Fake Love (Electric Mantis remix)
        br
        p#loading Loading...
        div#loading_bar
          div#progress

    div.crosshairs(align='center')
      div.horizontal
      div.vertical

    script(src='/js/mmo_client.js')
    script(src='/js/fireworks.js')
    script(src='/js/keyboard_controler.js')
