doctype html
html
  head
    title Fractals ftw
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/three.min.js')
    script(src='/js/Fractals.js')
    script(src='/js/SpaceControls.js')
    script(src='/js/TrackballControls.js')
    script(src='/js/PointerLockControls.js')
    script(src='/js/stats.min.js')
    script(src='js/Tween.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/math.min.js')
    script(src='js/StereoEffect.js')
  body
    div#title(align='center')
      div
        h1 Enjoy the visuals #{user.Username}

        br

        p Controls: ( W, A, S, D, R, F )

        p
          i Song: Drake - Fake Love (Electric Mantis remix)
        br
        p#loading Loading...
        div#loading_bar
          div#progress

    div#vr(align='center')
      div#vr_inner
        h1 Would you like to view in VR mode?
        br
        br
        div(onclick='select_vr(true)') Yes
        div(onclick='select_vr(false)') No

    div.crosshairs(align='center')
      div.horizontal
      div.vertical

    div#controlMenu(align='center')

    script(src='/js/menu-options.js')
    script(src='/js/mmo_client.js')
    script(src='/js/fireworks.js')
    script(src='/js/keyboard_controler.js')
