html
  head
    title Fireworks, right?!?
    meta(charset='UTF-8')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js')
    script(src='https://threejs.org/examples/js/controls/TrackballControls.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    div#title(align='center')
      h1 Tino Fileccia
      p
        b Breaking the traditional.
      br
      p
        i Song: Drake - Fake Love (Electric Mantis remix)
      br
      p#loading
      div#loading_bar
        div#progress
    script(src='js/fireworks.js')
